
/.idea
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/2048.sln.DotSettings.user
/.gitattributes

#/Assets/Plugins
#/Assets/Resources

*.meta
*.sln
*.csproj
*.keystore
*.sln.DotSettings.user